@font-face {
  font-family: 'Header';
  src: url('../fonts/SIMPLIFICA-Typeface/SIMPLIFICA\ Typeface.ttf') format('truetype');
  font-weight: normal;
}

.tituloPagina {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 50px;
  font-family: Header;
}

.subtituloPagina {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: Header;
  font-weight: bold;
}

.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 88vh;
}

.cards__wrapper {
  height: 80%;
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards__items {
  height: 47%;
}

.cards__items_big {
  height: 100%;
}

.cards__item, .cards__items_big  {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.cards__item__pic-wrap-big {
  position: relative;
  width: 100%;
  height: 85.5%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after, .cards__item__pic-wrap-big::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto 20px;
}

.cards__item__text {
  color: white;
  font-size: 17px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
