.nav {
    background: #15171c;               
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-icon {
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-nav {
    background: #15171c;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.sidebar-wrap {
    width: 100%;
}