.btnOpcion {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 5px;
    cursor: pointer;
    color: white;
}

.btnOpcion:hover {
    color: yellowgreen;
    font-weight: bold;
}

