.estado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    color: white;
    background-color: rgb(200, 200, 200);
    border: 3px solid black;
    border-radius: 12px;
    font-size: 22px;
    margin: auto;
}

.btnScript {
    border: 1px solid black;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
}

.btnScript:focus {
    outline: none;
}

.btnScript:hover {
    background-color: rgb(150, 150, 150);
}